@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #283618;
    --secondary-color: #FEFAE0;
    --accent1-color: #DDA15E;
    --accent2-color: #bc6c25;

    --heading-font: "Ubuntu", serif;
    --paragraph-font:"Ubuntu", serif;

    --nav-background-color: #fefae0;
    --nav-link-color: #606c38;
    --nav-hover-link-color: #dda15e;
    --nav-hover-background-color: #606C38;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
    padding: 20px;
}

header{
    background-color: #dda15e;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

nav{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img{
    margin-right: 10px;
}

nav a{
    display: flex;
    color: #283618;
    text-decoration: none;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fefae0;
}

nav a:link, nav a:visited{
    color: #606C38;
}

/* nav a:hover{
    color: #606C38;
    background-color: #DDA15E;
} */

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: #fefae0;
    position: absolute;
    top: -120%;
    left: 35%;
}


/* h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #283618;
    position: absolute;
} */

.history{
    font-family: Arial, Helvetica, sans-serif;
    color: #283618;
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #283618;
    box-sizing: border-box;
    background-color: #fefae0;
}

.history-content, .employee-profiles-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

.history, .employee-profiles-content img {
    max-width: 100%;
    margin-right: 10px;
    align-self: center;
}

.text-columns{
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 10px;
    max-width: 100%;
}

/**.history p{
    color: black;
}*/
.adventure{
    color: #283618;
    right: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #283618;
    background-color: #fefae0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adventure-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}


.adventure img{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #fefae0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer p{
    text-align:center;
    flex-grow: 1;
}

footer img{
    width: 30px;
    height: auto;

}


.hero{
    position:relative;
}

.hero img{
    display:block;
    width: 100%;
    height: auto;
}

article{
    position: absolute;
    background: radial-gradient(#eee, #283618);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 1;
    top: 250px;
    right: auto;
    opacity: 0.9;

}

article img{
   float: right;
   margin: 10px 10px 10px 10px;
   max-width: 300px;
}

.google-map iframe{
    width: 600px;
    height: 400px;
}

.company-info{
    font-family: Arial, Helvetica, sans-serif;
    color: #283618;
    background-color: #fefae0;
    padding: 0.65rem;
    display: grid;
    text-align: center;
    border: solid 1px;
    width: 40%;
    margin: 30px auto;
}

.employee-profiles{
    font-family: Arial, Helvetica, sans-serif;
    color: #283618;
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #283618;
    box-sizing: border-box;
    background-color: #fefae0;
}

.contact-form{
    color: #283618;
    border: 1px solid;
    background-color: #FEFAE0;
    padding: 1rem;
    width: 40%;
    margin: 30px auto;
}

.contact-form-content {
   margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #283618;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button-wrapper{
    text-align: left;
}

button[type="submit"]:hover {
    background-color: #45a049;
}