@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    color: #283618;
    background-color: whitesmoke;
}

header{
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 1rem;
}
main{
    padding:20px;
}
form {
    max-width:500px;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #fefae0;
    display: grid;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #283618;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-wrapper{
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.question img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #283618;
    border-top: 1px solid #283618;
}